<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Object 3D</title>
    <link rel="stylesheet" href="../../css/common.css" />
    <link rel="stylesheet" href="./style.css" />
</head>

<body>
<main class="page">
    <div class="global-container">
        <div class="topbar">
            <a class="back" href="../../index.html" aria-label="Вернуться на главную">
                <span aria-hidden="true">🏃🚶🧎</span>
                <span>Back</span>
            </a>
        </div>

        <h1 class="h1">Object 3D</h1>
        <p class="p-muted">Изолированный 3D-компонент с анимацией вращения</p>

        <section class="card default">

            <p class="default_line">
                For ex. - Used files: <span class="mono">common.css</span> + <span class="mono">style.css</span>
            </p>


            <div class="obj3d-wrap">
                <div class="obj3d-stage">
                    <div class="obj3d-rotator">
                        <div class="obj3d-scene">
                            <div class="obj3d-shadow-box">
                                <div class="obj3d-shadow"></div>
                            </div>

                            <div class="obj3d-cube">
                                <div class="obj3d-face-back obj3d-side"></div>
                                <div class="obj3d-face-left obj3d-side"></div>
                                <div class="obj3d-face-right obj3d-side"></div>
                                <div class="obj3d-face-top obj3d-side"></div>
                                <div class="obj3d-face-bottom obj3d-side"></div>
                                <div class="obj3d-face-front obj3d-side"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

</main>

<script src="./script.js"></script>
</body>
</html>
