.default {
  width: 100%;
}

.default_line {
  margin: 15px 0;
  color: rgba(255, 255, 255, 0.82);
}

.default_line + .default_line {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.todo {
  width: min(100%, 400px);
  margin: 0 auto;
  background-color: #2C3E50;
  border-radius: 15px;
}

.todo-header {
  box-shadow: 0 17px 19px #162029;
  width: 100%;
}

.todo-form {
  display: flex;
  height: 60px;
  background-color: #E74C3C;
  border-radius: 15px 15px 0 0;
}

.todo-input {
  flex: 1;
  border: none;
  color: #ECF0F1;
  padding: 10px 10px 10px 20px;
  font-size: 16px;
  background: transparent;
}
.todo-input:focus {
  outline: none;
}
.todo-input::placeholder {
  color: #ECF0F1;
}

.todo-add {
  flex: 0 0 60px;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 30px;
  color: #ECF0F1;
  transition: font-size 0.2s ease;
}

.todo-add:hover {
  font-size: 37px;
}

.done {
  text-decoration: line-through;
  color: #E74C3C;
  transition: 0.2s ease;
}

.todo-list {
  padding: 20px;
  min-height: 78px;
}

.todo-item, .todo-empty {
  display: flex;
  justify-content: space-between;
  padding: 7px 0;
}

.todo-empty {
  text-align: center;
}

.todo-text {
  width: 100%;
}

.todo-check, .todo-delete {
  border: none;
  outline: none;
  background: transparent;
  color: #ECF0F1;
  cursor: pointer;
}

.todo-delete:hover, .todo-check:hover, .todo-add:hover {
  text-shadow: 0 0 15px white;
  transition: 0.2s ease;
}
